ScreenShots/*
.settings/
.classpath
.project
testReports/*
downloads/*
src/test/resources/unitTest.xml
*failed_cases_rerun.xml
test-output/*
target/*
/target/
../.idea/
../ScreenShots/
../target/
../testReports/
.idea/
../mPulseAutomation.iml
mPulseAutomation.iml
